.container-vagas{
  width:100%;
  height:100vh;
  background: linear-gradient(to bottom, rgba(0,0,156,1) 0%, rgba(0,0,156,1) 17%, rgba(188,224,238,1) 100%);
}
.container-vagas hr{
  width: 95%;
  color: #F46720;
}
.container-vagas form{
  display:flex;
  flex-direction:column;
  background:transparent;
}
.container-vagas form h3{
  text-align:center;
}
.container-form-vagas{
  display:flex;
  gap:2%;
}
.container-form-vagas input{
  width:497px;
}
.container-form-vagas .cidade{
  width:226px;
}
.container-form-vagas button{
  background: none;
  border: none;
  border: 2px solid #f6f6f6;
  padding: 1% 3%;
  border-radius: 5px;
  outline: none;
  font-size: 50px;
  color:#f6f6f6;
}